StudentGradeManager/Connected Services/ModuleAssessmentServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ModuleAssessmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentDataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IModuleAssessmentService_SaveAssessment_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAssessment" />
  </wsdl:message>
  <wsdl:message name="IModuleAssessmentService_SaveAssessment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAssessmentResponse" />
  </wsdl:message>
  <wsdl:message name="IModuleAssessmentService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IModuleAssessmentService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IModuleAssessmentService_GetAssesmentsByModule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssesmentsByModule" />
  </wsdl:message>
  <wsdl:message name="IModuleAssessmentService_GetAssesmentsByModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssesmentsByModuleResponse" />
  </wsdl:message>
  <wsdl:portType name="IModuleAssessmentService">
    <wsdl:operation name="SaveAssessment">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuleAssessmentService/SaveAssessment" message="tns:IModuleAssessmentService_SaveAssessment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuleAssessmentService/SaveAssessmentResponse" message="tns:IModuleAssessmentService_SaveAssessment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuleAssessmentService/GetData" message="tns:IModuleAssessmentService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuleAssessmentService/GetDataResponse" message="tns:IModuleAssessmentService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssesmentsByModule">
      <wsdl:input wsaw:Action="http://tempuri.org/IModuleAssessmentService/GetAssesmentsByModule" message="tns:IModuleAssessmentService_GetAssesmentsByModule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModuleAssessmentService/GetAssesmentsByModuleResponse" message="tns:IModuleAssessmentService_GetAssesmentsByModule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IModuleAssessmentService" type="tns:IModuleAssessmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveAssessment">
      <soap:operation soapAction="http://tempuri.org/IModuleAssessmentService/SaveAssessment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IModuleAssessmentService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssesmentsByModule">
      <soap:operation soapAction="http://tempuri.org/IModuleAssessmentService/GetAssesmentsByModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModuleAssessmentService">
    <wsdl:port name="BasicHttpBinding_IModuleAssessmentService" binding="tns:BasicHttpBinding_IModuleAssessmentService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StudentGradeManagerService/ModuleAssessmentService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>