StudentGradeManager/Connected Services/StudentServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentDataModel" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentDataModel.DTO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentGradeManagerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService_SaveStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentService_SaveStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_StudentLoginValidate_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentLoginValidate" />
  </wsdl:message>
  <wsdl:message name="IStudentService_StudentLoginValidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentLoginValidateResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentById" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentEnrolledCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentEnrolledCourses" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentEnrolledCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentEnrolledCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService">
    <wsdl:operation name="SaveStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/SaveStudent" message="tns:IStudentService_SaveStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/SaveStudentResponse" message="tns:IStudentService_SaveStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudentLoginValidate">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/StudentLoginValidate" message="tns:IStudentService_StudentLoginValidate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/StudentLoginValidateResponse" message="tns:IStudentService_StudentLoginValidate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetStudentById" message="tns:IStudentService_GetStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetStudentByIdResponse" message="tns:IStudentService_GetStudentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentEnrolledCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetStudentEnrolledCourses" message="tns:IStudentService_GetStudentEnrolledCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetStudentEnrolledCoursesResponse" message="tns:IStudentService_GetStudentEnrolledCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetDataUsingDataContract" message="tns:IStudentService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetDataUsingDataContractResponse" message="tns:IStudentService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService" type="tns:IStudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentService/SaveStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentLoginValidate">
      <soap:operation soapAction="http://tempuri.org/IStudentService/StudentLoginValidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentEnrolledCourses">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudentEnrolledCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentService" binding="tns:BasicHttpBinding_IStudentService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StudentGradeManagerService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>