StudentGradeManager/Connected Services/CourseModuleServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StudentDataModel" />
  <xs:element name="SaveModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentDataModel" minOccurs="0" name="m" nillable="true" type="q1:CourseModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveModuleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentDataModel" minOccurs="0" name="GetDataResult" nillable="true" type="q2:ArrayOfCourseModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulesByCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StudentDataModel" minOccurs="0" name="m" nillable="true" type="q3:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulesByCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StudentDataModel" minOccurs="0" name="GetModulesByCourseResult" nillable="true" type="q4:ArrayOfCourseModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>