StudentGradeManager/Connected Services/CourseModuleServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourseModuleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentDataModel" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentDataModel.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourseModuleService_SaveCourseModule_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCourseModule" />
  </wsdl:message>
  <wsdl:message name="ICourseModuleService_SaveCourseModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCourseModuleResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseModuleService_GetCourseModules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseModules" />
  </wsdl:message>
  <wsdl:message name="ICourseModuleService_GetCourseModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseModulesResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseModuleService_GetModulesByCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModulesByCourse" />
  </wsdl:message>
  <wsdl:message name="ICourseModuleService_GetModulesByCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModulesByCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseModuleService_GetModulesByCourseAndLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModulesByCourseAndLevel" />
  </wsdl:message>
  <wsdl:message name="ICourseModuleService_GetModulesByCourseAndLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModulesByCourseAndLevelResponse" />
  </wsdl:message>
  <wsdl:portType name="ICourseModuleService">
    <wsdl:operation name="SaveCourseModule">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseModuleService/SaveCourseModule" message="tns:ICourseModuleService_SaveCourseModule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseModuleService/SaveCourseModuleResponse" message="tns:ICourseModuleService_SaveCourseModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseModules">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseModuleService/GetCourseModules" message="tns:ICourseModuleService_GetCourseModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseModuleService/GetCourseModulesResponse" message="tns:ICourseModuleService_GetCourseModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModulesByCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseModuleService/GetModulesByCourse" message="tns:ICourseModuleService_GetModulesByCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseModuleService/GetModulesByCourseResponse" message="tns:ICourseModuleService_GetModulesByCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModulesByCourseAndLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseModuleService/GetModulesByCourseAndLevel" message="tns:ICourseModuleService_GetModulesByCourseAndLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseModuleService/GetModulesByCourseAndLevelResponse" message="tns:ICourseModuleService_GetModulesByCourseAndLevel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICourseModuleService" type="tns:ICourseModuleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveCourseModule">
      <soap:operation soapAction="http://tempuri.org/ICourseModuleService/SaveCourseModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseModules">
      <soap:operation soapAction="http://tempuri.org/ICourseModuleService/GetCourseModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModulesByCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseModuleService/GetModulesByCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModulesByCourseAndLevel">
      <soap:operation soapAction="http://tempuri.org/ICourseModuleService/GetModulesByCourseAndLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseModuleService">
    <wsdl:port name="BasicHttpBinding_ICourseModuleService" binding="tns:BasicHttpBinding_ICourseModuleService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StudentGradeManagerService/CourseModuleService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>